<h2><span class="bg-light p-2">会員情報編集</span></h2>

<div class="row">
  <!-- 最初のセット -->
  <div class="col-6">
    <div class="row g-2">
      <div class="col-2">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="氏名">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" value="<%= @customer.last_name %>" placeholder="姓">
      </div>
      <div class="col-2">
      　<input type="text" class="form-control" value="<%= @customer.first_name %>" placeholder="名">
      </div>
    </div>
  </div>




