<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- ここに必要なCSSやJavaScriptのリンクなどを追加 -->
</head>
<body>

<div class="container-fluid" style="background-image: url('<%= asset_path('cake2.jpg') %>');
background-size: cover; background-position: center center;height: 100vh;">

  <div class="row">
    <div class="col">
      <h4 class="py-3" style="font-size: 40px;">About</h4>
      <p style="font-size: 18px;">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
         お子様からお年寄りの方までお召上がりいただけるよう、<br>
         様々なバリエーションをご用意しております<br>
         また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
         ぜひご注文ください</p>
    </div>
  </div>
</div>

</body>
</html>


