<div class="container">
  <div class="low">
    <div class="col">
      <div class="text-center lead">
        <h1 class="display-3">About</h1>
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
        <p>お子様からお年寄りの方までお召上がりいただけるよう、</p>
        <p>様々なバリエーションをご用意しております。</p>
        <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
        <p>ぜひご注文ください。</p>
      </div>
    </div>
  </div>
</div>