<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      
  
      <table class="border border-dark" >
          <tr class="border border-dark">
            <th>ジャンル検索</th>
          </tr>
          <tr>
            <td>ケーキ</td>
          </tr>
          <tr>
           <td>焼き菓子</td>
          </tr>
          <tr>
            <td>プリン</td>
          </tr>
          <tr>
            <td>キャンディ</td>
          </tr>
      </table>
    </div>  
  
  
  
    <div class="col-9">
      <div class="border-border-dark">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
      
      <h2>新着商品</h2>
  </div>
</div>


