

<%= form_with(model: @genre, url: admin_genre_path(@genre), method: :patch) do |f| %>
<div class="container ml-4 my-4">
  <h2><span class="bg-light p-2">ジャンル変更</span></h2>
  <div class="row mt-5">
    <div class="col-2">
      ジャンル名
    </div>

    <div class="col-2">
      <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
    </div>

    <div class="col-2">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>

  </div>
</div>

<% end %>