<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-5 py-5 px-sm-0 mx-auto">
      <div class="py-5 px-5">
        <div class="py-5 px-5">
          <h1 class="text-center py-5">ご注文ありがとうございました！</h1>
        </div>
      </div>
    </div>
  </div>
</div>